.view {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.view span{
    font-weight: 600;
}

.view__info {
    display: flex;
    justify-content: space-between;
}