.page__select {
    display: flex;
    justify-content: space-around;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete__button {
    padding: 0;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}

.view span{
    font-weight: 600;
}

.view__title {
    display: flex;
    justify-content: space-between;
}

.view__title p{
    width: 100%;
}

.view__info {
    display: flex;
    justify-content: space-between;
}